body {
  margin: 18px;
  position: relative;
  height: 100vh;
  background: url("../images/img1.jpg") no-repeat center/cover;
}

.layout {
  display: block;
  width: 400px;
  height: 100vh;
  background-color: black;
  color: white;
  opacity: 0.5;
}

.list {
  list-style: none;
  font-size: 23px;
  line-height: 3em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  background-clip: padding-box;
}
.sydney div {
  padding-left: 40px;
}

.sydney div:hover {
  padding:20px;
  padding-left:40px;
  background-color: #323232;
  opacity: 0.9;
  display: block;
  background
  
}

.gold div {
  padding-left: 40px;
}

.gold div:hover {
  padding:20px;
  padding-left: 40px;
  background-color: #323232;
  opacity: 0.9;
  display: block;
}

.bris div {
  padding-left: 40px;
}

.bris div:hover {
  padding:20px;
  padding-left: 40px;
  background-color: #323232;
  opacity: 0.9;
  display: block;
}

.cair div {
  padding-left: 40px;
}

.cair div:hover {
  padding:20px;
  padding-left: 40px;
  background-color: #323232;
  opacity: 0.9;
  display: block;
}

h1 {
  border-bottom: 1px solid white;
  margin: 10px;
  padding: 20px;
  font-size: 50px;
  font-family: fantasy;
}
#sydney {
  display: none;
  text-decoration: none;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
  padding-left: 60px;
}

a {
  text-decoration: none;
  color: white;
}

#gold {
  display: none;
  text-decoration: none;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
  padding-left: 60px;
}

#bris {
  display: none;
  text-decoration: none;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
  padding-left: 60px;
}
#cair {
  display: none;
  text-decoration: none;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
  padding-left: 60px;
}


.hide {
  display: none;
  text-decoration: none;
  font-size: 15px;
  list-style: none;
  line-height: 30px;
  padding-left: 60px;
}

#sydney a:hover{
  color:#464646;
}
